[Desktop Entry]
Version=1.0
Type=Application
Name=mtpc
Comment=Minecraft texture pack converter
TryExec=mtpc
Exec=mtpc
Icon=mtpc
MimeType=image/x-foo;
Categories=Game;
